{% extends "model-page.html" %}

{% block content %}

    <h2>Agendamentos</h2>
    
    <a href="evento/">
        <button class="btn btn-success" type="button">Novo Evento</button>
    </a>
        
    <ul class="list-group">
    {% for evento in eventos %}
        <div style={% if evento.get_evento_atrasado %}
                    "color:red"
                   {% endif %}>            
       
            <li class="list-group-item">{{ evento.titulo }} - {{ evento.get_data_evento }}
            <span class="col-sm-offset-10 col-sm-1">
            <a class="btn btn-warning" href='evento/?id={{ evento.id }}'>Editar</a>
            </span>
            <span class="col-sm-1">
            <a class="btn btn-danger" href='evento/delete/{{ evento.id }}/'>Excluir</a>
            </span>
            </li>
            
        </div>
    {% endfor %}
    </ul>
 
 {% endblock %}
