<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Agenda</title>
</head>
<body>
    <h1>Login</h1>
    <form action="submit" method="POST"> {% csrf_token %}
        <div align="center">       
            <label>Usuário:</label>
            <input type="text" name="username">
            <label>Senha:</label>
            <input type="password" name="password">
            <button type="submit">Entrar</button>            
        </div>
	</form>
	<div class="alert alert-danger" role="alert">
        {% for message in messages %}
            <strong>Erro!: </strong>{{ message }}
        {% endfor %}
    </div>    
</body>
</html>